@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    background: #1D1B26;
}

button{
    border: none;
}

.container{
    max-width: 1100px;
    margin: 0 auto;
} 

.header{
    webkit-box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.26);
    -moz-box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.26);
    box-shadow: 0px 4px 8px 3px rgba(0, 0, 0, 0.26);
    background: #b0afb1;
    height: 140px;
    
}

.header__wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0px;
}

.photo{
    min-height: 161px;
}

.name{
    color: #333;
}

.group{
    color: #333;
    font-weight: bold;
}


.main__wrap{
    display: flex;
    justify-content: space-around;
    margin: 40px;

}
.main__block{
    margin: 15px;
    margin-bottom: 10px;
    text-align: center;
}

.button{
    padding: 15px;
    background: transparent;
    border: 1px solid white;
    color: white;
    margin-bottom: 10px;
}
